[submodule "frontend"]
	path = frontend
	url = https://github.com/joaobrxyz/conecta-saude-frontend.git
[submodule "identity-service"]
	path = identity-service
	url = https://github.com/joaobrxyz/conecta-saude-identity-service.git
[submodule "patients-service"]
	path = patients-service
	url = https://github.com/joaobrxyz/conecta-saude-patients-service.git
[submodule "records-service"]
	path = records-service
	url = https://github.com/joaobrxyz/conecta-saude-records-service.git
[submodule "conecta-saude-appointment-service"]
	path = conecta-saude-appointment-service
	url = https://github.com/joaobrxyz/conecta-saude-appointment-service.git
